<div class="page-header">
	<h1>About <small>UnhostedTunes</small></h1>
</div>
<div class="row">
	<div class="span6">
		<p>
			This is a pretty experimental application at the moment. The motivations behind it are mostly learning and testing the possibilities of making an app of this kind with just <a href="http://remotestorage.io/" target="_blank">remoteStorage</a>. 
		</p>
		<p>
			I'll release it soon with some agpl alike license in <a href="https://github.com/danielesteban" target="_blank">github</a>. At the current developement stage, which is really alpha, any <a href="mailto:dani@hellacoders.com">feedback</a> will be very appreciated (but probably not replied ;P).
		</p>
		<p>
			Much love.<br />
			.dani.
		</p>
		<hr />
		<p>
			<strong>Known issues:</strong>
			<ul>
				<li>Seeking does not work with unhosted audio files (on my reStore server, at least).</li>
				<li>Long unhosted MP3s files have network errors sometimes, which cause the player to skip to the next song.</li>
				<li>External APIs requests doesn't seem to work on firefox linux.</li>
				<li>Works better in chrome/chromium.</li>
			</ul>
		</p>
	</div>
	<div class="span2 offset2">
		<address>
			<strong>About the author:</strong><br />
			Daniel Esteban<br />
			<a href="mailto:dani@hellacoders.com">dani@hellacoders.com</a><br />
			<a href="https://github.com/danielesteban" target="_blank">github.com/danielesteban</a>
		</address>
	</div>
</div>
