<div class="page-header">
	<h1>Search <small>{{query}}</small></h1>
</div>
<div class="row hidden">
	<div class="span10" id="search_playlists">
		<h3>{{L 'playlists'}}</h3>
	</div>
</div>
<div class="row">
	<div class="span5">
		<h3>Youtube</h3>
		<table class="table table-striped table-hover table-condensed songs" id="search_yt"></table>
	</div>
	<div class="span5">
		<h3>SoundCloud</h3>
		<table class="table table-striped table-hover table-condensed songs" id="search_sc"></table>
		<h3>Mp3skull</h3>
		<table class="table table-striped table-hover table-condensed songs" id="search_mp3"></table>
	</div>
</div>
