<div id="shareSong" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>{{L "share"}}</h3>
	</div>
	<form class="form-horizontal" style="margin:0" onsubmit="LIB.cancelHandler(event)">
		<div class="modal-body">
			<div class="control-group">
				<label class="control-label" for="shareSongLink" style="text-align:left;width:50px">Link</label>
				<div class="controls" style="margin-left:60px">
					<input id="shareSongLink" type="text" class="span5" />
				</div>
			</div>
		</div>
		<div class="modal-footer">
			
		</div>
	</form>
</div>
